



<body>
    <center>
        <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">MAHASISWA</h1>
    </center>
    <br>


    <center>
        <table border="1">
            <tr style="background-color: rgba(137, 137, 137, 0.695);"> 
                <th>No</th>
                <th>NIM</th>
                <th>Nama</th>
                <th>TTL</th>
                <th>Fakultas</th>
                <th>Prodi</th>
                <th>Email</th>
                <th>Foto</th>
            </tr>
            {% for mahasiswa in lecturer %}
             <tr style="background-color: rgba(213, 211, 211, 0.568);">
                <td><center> {{mahasiswa.no}} </center></td>
                <td>{{mahasiswa.nim}}</td>
                <td>{{mahasiswa.nama}}</td>
                <td>{{mahasiswa.ttl}}</td>
                <td>{{mahasiswa.fakultas}}</td>
                <td>{{mahasiswa.prodi}}</td>
                <td>{{mahasiswa.email}}</td>
                <td>
                    {% if mahasiswa.foto %}
                    <img src="{{ mahasiswa.foto.url }}" width="60px">
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    </center>
</body>